@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --focus-color: #006FEE;
    --divided-color: rgba(17, 17, 17, 0.15);
    --foreground-default-400: #a1a1aa;
    --danger-color-500: #f31260;
    --white-color: #ffffff;
    --primary-color-500: #006FEE;
    --primary-color-700: #004493;
    --primary-color-50: #e6f1fe;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;;
}

body {
    width: 100%;
    min-height: 100svh;
    background: #fcfbfa;
}

input {
    padding: 0.450rem 0.5rem;
    border-radius: 10px;
    border: var(--divided-color) 2px solid;
}

input:focus {
    border: var(--focus-color) 2px solid;
    outline: none;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
}